<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
			background-image: url('https://images.unsplash.com/photo-1558000221-b63478006ee9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIwfHxtaW5kZnVsbmVzc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
            background-repeat: no-repeat;
            background-size: cover;
			color: rgb(179, 131, 226);
			font-family: 'Poppins', sans-serif;
			display: flex;
			flex-direction: column;
			align-items: center;
            text-align: center;
        }
        nav{
				background-color: rgb(179, 131, 226);
				color: #f5f5f5;
				height: 50px;
				width: 100%;
				position: fixed;
				top: 0;
			}

			nav ul {
				padding: 0;
				display: flex;
				justify-content: space-around;
				list-style-type: none;
			}

			nav li {
				display: inline-block;
				height: 100%;
				width: 10%;
			}
            nav li a{
                text-decoration: none;
            }
            div{
                width: 100vw;
            }
            table{
                margin-top: 200px;
                background-color: #f5f5f5;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            td{
                padding: 10px;
            }
    </style>
    <title>About | Mindful</title>
</head>

<body>
    <% if(messages.error){ %>
        <%= messages.error %>
    <% } %> 
    <nav>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/inspire">Healthy Mind</a></li>
          <li><a href="/water">Health Body</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    <table>
        <tr>
            <td>Support</td>
            <td><a href="mailto: support@mindful.io">support@mindful.io</a></td>
            <td><a href="tel: 4155550148">+1(415)555-0148</a></td>
        </tr>
        <tr>
            <td>GoodTherapy</td>
            <td><a href="mailto: support@goodtherapy.org">support@goodtherapy.org</a></td>
            <td><a href="tel:8665632112">+1(866)563-2112</a></td>
        </tr>
        <tr>
            <td>Headspace</td>
            <td><a href="mailto: help@headspace.com">help@headspace.com</a></td>
            <td><a href="tel: 3105550157">+1(310)-555-0157</a></td>
        </tr>
        <tr>
            <td>Lee Benasaraf</td>
            <td><a href="mailto: lbenasar@dtudent.touro.edu">lbenasar@dtudent.touro.edu</a></td>
            <td><a href="tel: 3475785305">+1(347)578-5305</a></td>
        </tr>
    </table>
</body>
</html>